<!DOCTYPE html>
<html lang="pt-br" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Order Details</title>
        <%= stylesheet_link_tag "custom.css" %>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    </head>
    <body>

        <div class="container">
            <%= link_to '<i class="fas fa-angle-left _icon"></i>'.html_safe, orders_path %>
            <div class="row">
                <div class="col-sm-12 col-md-10 col-lg-12 _center">
                    <p>
                        <strong>Date:</strong>
                        <%= @orders.data %>
                    </p>
                    <p>
                        <strong>Description:</strong>
                        <%= @orders.description %>
                    </p>
                    <p>
                        <strong>Value:</strong>
                        <%= @orders.value %>
                    </p>
                </div>
            </div>
        </div>

    </body>
</html>
